@import "../../../assets/common/styles.scss";
:host {
  width: 100%;
}
.searchlist {
  @include respond-to(desktop) {
    width: 100%;
  }
  .heading {
    display: flex;
    justify-content: space-between;

    &-left {
      h1 {
        font-size: 24px;
        line-height: 32px;
      }
    }

    &-right {
      background-image: url(../../../assets/images/map.png);
      border-radius: var(--bui_border_radius_200);
      cursor: pointer;
      display: inline;
      height: 72px;
      position: relative;
      width: 160px;
      .btn {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
        height: auto;
        padding: 10px 9px;
        font-size: 14px;
      }
    }
  }
}
