@import "../../../assets/common/styles.scss";
.search-form {
  position: relative;
  margin: 24px 0 16px;
  width: 100%;
  @include respond-to(desktop) {
    top: -50px;
  }

  .search-form-wrapper {
    display: flex;
    flex-direction: column;
    height: 52px;
    background-color: $yellow;

    @include respond-to(desktop) {
      flex-direction: row;
      padding: 4px;
      gap: 2px;
      justify-content: space-between;
    }
    input {
      height: 100% !important;
      border: none;
      border-radius: 2px;
      color: $darkText;
      font-size: 14px;
    }
    .search-input {
      min-width: 38%;
      input {
        width: 100%;
        background-image: url("/assets/images/accomodation.svg");
        padding-left: 50px;
        background-repeat: no-repeat;
        background-position: 16px center;
        &:hover {
          box-shadow: 0 0 0 1px #d59c00 inset;
        }
      }
      input::placeholder {
        color: $darkText;
      }
    }
    .search-calendar {
      min-width: 25%;
      background-color: $white;
      display: flex;
      svg {
        position: relative;
        left: 0;
        top: 13px;
        width: 50px;
      }
      &:hover {
        box-shadow: 0 0 0 1px #d59c00 inset;
      }
      // style in general css
    }
    .search-people {
      min-width: 25%;
      background-color: $white;
      position: relative;
      &:hover {
        box-shadow: 0 0 0 1px #d59c00 inset;
      }
      .label {
        width: 100%;
        font-size: 14px;
        background-image: url("/assets/images/people.svg");
        padding-left: 50px;
        background-repeat: no-repeat;
        background-position: 16px center;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .guest-box {
        position: absolute;
        top: 100%;
        right: 0;
        width: 370px;
        background-color: $white;
        border-radius: 2px;
        box-shadow: 0 2px 16px rgb(0 0 0 / 15%);
        padding: 24px 24px 8px;
        min-width: 308px;
        margin-top: 12px;
      }
    }
    .btn {
      height: 100%;
      cursor: pointer;
      &.btn-search {
        background-color: $ctaBlue;
        border-radius: 2px;
        font-size: 20px;
        color: $white;
        white-space: nowrap;
        padding: 5px 32px;
        &:hover {
          background-color: $ctaBlueHover;
        }
      }
    }
  }
}
