<div class="search-form">
  <div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="search-form-wrapper">
        <div class="search-input">
          <p-autoComplete
            formControlName="where"
            [suggestions]="filteredCountries"
            (completeMethod)="filterCountry($event)"
            field="name"
            [minLength]="1"
            placeholder="Dove vuoi andare?"
          >
            <ng-template let-country pTemplate="item">
              <div class="cities-suggested-item">
                <svg fill="#6B6B6B" height="24" width="24" viewBox="0 0 24 24" class="bk-icon -streamline-geo_pin"><path d="M15 8.25a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm1.5 0a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0zM12 1.5a6.75 6.75 0 0 1 6.75 6.75c0 2.537-3.537 9.406-6.75 14.25-3.214-4.844-6.75-11.713-6.75-14.25A6.75 6.75 0 0 1 12 1.5zM12 0a8.25 8.25 0 0 0-8.25 8.25c0 2.965 3.594 9.945 7 15.08a1.5 1.5 0 0 0 2.5 0c3.406-5.135 7-12.115 7-15.08A8.25 8.25 0 0 0 12 0z"></path></svg>
                <div class="cities-suggested-location">
                  <div class="bold">{{ country?.name }}</div>
                  <div class="secondary-location">{{ country?.regione }}, {{country?.state}}</div>
                </div>

              </div>
            </ng-template>
          </p-autoComplete>
        </div>

        <div class="search-calendar">
          <svg
            aria-hidden="true"
            class="bk-icon -experiments-calendar sb-date-picker_icon-svg"
            fill="#BDBDBD"
            focusable="false"
            height="20"
            role="presentation"
            width="20"
            viewBox="0 0 128 128"
          >
            <path
              d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-68-43.3h-12v-12h12zm0 28h-12v-12h12zm26-28h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12z"
              fill-rule="evenodd"
            ></path>
          </svg>
          <p-calendar
            formControlName="rangeDates"
            [numberOfMonths]="2"
            selectionMode="range"
            [readonlyInput]="true"
            inputId="range"
            [minDate]="minDate"
          ></p-calendar>
        </div>
        <div class="search-people">
          <div class="label" (click)="showGuestBox()">
            <input
              type="text"
              formControlName="adults"
              class="hidden"
              [(ngModel)]="numberAdults"
            />
            <input
              type="text"
              formControlName="children"
              class="hidden"
              [(ngModel)]="numberChildren"
            />
            <input
              type="text"
              formControlName="rooms"
              class="hidden"
              [(ngModel)]="numberRooms"
            />
            {{ numberAdults }}
            {{ numberAdults === 1 ? "adulto" : "adulti" }} &bull;
            {{ numberChildren }}
            {{ numberChildren === 1 ? "bambino" : "bambini" }} &bull;
            {{ numberRooms }}
            {{ numberRooms === 1 ? "camera" : "camere" }}
            <div class="arrows"></div>
          </div>
          <ng-container *ngIf="show">
            <app-guest-box
              (adults)="updateAdults($event)"
              (children)="updateChildren($event)"
              (rooms)="updateRooms($event)"
            ></app-guest-box>
          </ng-container>
        </div>
        <div class="search-button">
          <button class="btn btn-search" [disabled]="!searchForm.valid">
            Cerca
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
