<div class="search-form">
    <div class="container">
    <form [formGroup]="searchForm">
        <div class="search-form-wrapper">
            <div class="search-input">
                <input type="text" formControlName="where" placeholder="Dove vuoi andare?">
            </div>
            <div class="search-calendar"></div>
            <div class="search-people"></div>
            <div class="search-button">
                <button class="btn btn-search">Cerca</button>
            </div>
        </div>
    </form>
</div>
</div>
