@import "../../../assets/common/styles.scss";
.hero-wrapper {
    background-color:$lightBgGrey;
    color: $white;

    @include respond-to(desktop) {
        background-color:$blue;
    }
    .hero-container {
        min-height: 240px;
        padding-top: 64px;
        h1 {
            font-size: 48px;
            line-height: 62px;
        }
        h2 {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
        }
    }
}