<div class="guest-box">
    <div class="guest-box-row">
      <label for="">Adulti</label>
      <div class="guest-box-counter">
       
        <button type="button" class="btn btn-counter" (click)="counter('remove')">-</button>
        <span class="total">{{numberAdults}}</span>
        <button type="button" class="btn btn-counter" (click)="counter('add')">+</button>
      </div>
      
    </div>
    <div class="guest-box-row">
      <div class="children-label">
        <label for="">Bambini</label>
        <div class="subtitle">0-17 anni</div>
      </div>
      <div class="guest-box-counter">
        
        <button class="btn btn-counter" (click)="counterChildren('remove')">-</button>
        <span class="total">{{numberChildren}}</span>
        <button class="btn btn-counter"  (click)="counterChildren('add')">+</button>
      </div>
    </div>
    <div class="guest-box-row">
      <label for="">Camere</label>
      
    </div>
  </div>