<div class="change-container">
    <div class="change-container-suggested">
        <h4>Suggerite per te</h4>
        <div class="change-suggested-list">
            <div class="suggested-item">
                <div class="suggested-item-top">Dollaro statunitense</div>
                <div class="suggested-item-bottom">USD</div>
            </div>
            <div class="suggested-item">
                <div class="suggested-item-top">Strlina britannica</div>
                <div class="suggested-item-bottom">GBP</div>
            </div>
            <div class="suggested-item">
                <div class="suggested-item-top">Franco svizzero</div>
                <div class="suggested-item-bottom">CHF</div>
            </div>
            <div class="suggested-item">
                <div class="suggested-item-top">Real brasiliano</div>
                <div class="suggested-item-bottom">BRL</div>
            </div>
            <div class="suggested-item">
                <div class="suggested-item-top">Zloty polacco</div>
                <div class="suggested-item-bottom">PLN</div>
            </div>
        </div>
    </div>
</div>
