<div class="hotel-card">
  <div class="hotel-card-body">
    <div class="hotel-card-left">
      <img
        src="https://cf.bstatic.com/xdata/images/hotel/square200/49984002.webp?k=ef3bb9ca3bfbc4854ff5303e07433c1fb5a2783d23072c3dd09bf9ae3c5a610d&o=&s=1"
        alt="Sakura Inn SanremoSi apre in una nuova finestra
        "
      />
    </div>
    <div class="hotel-card-right">
      <div class="hotel-info-top">
        <div class="hotel-info-top-left">
          <div class="top-row">
            <div class="hotel-name">Le camere del Corso</div>
            <div class="hotel-rating">***</div>
            <div class="hotel-fav">like</div>
          </div>
          <div class="top-row">
            <div class="hotel-zone">Centro di Sanremo</div>
            <div class="hotel-map">Mostra sulla mappa</div>
            <div class="hotel-dinstance">0,3 km dal centro</div>
          </div>
        </div>
        <div class="hotel-info-top-right">
          <div class="top-row">
            <div class="hotel-top-right-vote">
              <span>Buono</span>
              <span class="small">2.996 recensioni</span>
            </div>
            <div class="hotel-top-right-badge">8,8</div>
          </div>
          <div class="top-row">
            <span class="hotel-position">posizione 9,3</span>
          </div>
        </div>
      </div>
      <div class="hotel-discount">-12%</div>
      <div class="hotel-beach">300 metri dalla spiaggia</div>
      <div class="hotel-sustainability">Viaggi Sostenibili - Livello 1</div>
      <div class="hotel-info-bottom">
        <div class="hotel-info-room">Camera Matrimoniale/Doppia con Letti Singoli con Vista Giardino</div>
        <div class="hotel-info-price">€100</div>
      </div>
    </div>
    <div class="hotel-card-genius"></div>
  </div>
</div>
