@import "../../../assets/common/styles.scss";

$fontsize-small: 12px;

.hotel-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid $borderAltGrey;
  margin: 16px 0;
  &-body {
    display: flex;
    flex-direction: row;
    .hotel-card-left {
      position: relative;
      img {
        @include respond-to(desktop) {
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
      }
      .hotel-ribbon {
        position: absolute;
        background-color: $bgGreen;
        color: $white;
        font-size: $fontsize-small;
        left: -26px;
        top: 8px;
        font-weight: bold;
        border-radius: 2px 2px 2px 0;
        padding: 4px 8px;
        &:before {
          border: 5px solid $bgGreen;
          border-bottom-color: transparent;
          border-left-color: transparent;
          bottom: -10px;
          content: "";
          height: 0;
          left: 0;
          position: absolute;
          width: 0;
          z-index: -1;
        }
      }
      .add-button {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        margin-top: 5px;
        margin-right: 5px;
        padding: 0;
        svg {
          stroke: $white;
          stroke-width: 8px;
          fill: rgba(0, 0, 0, 0.2);
          filter: drop-shadow(0 2px 1.5px rgba(0, 0, 0, 0.5));
          display: inline-block;
          height: 100%;
          vertical-align: top;
          width: auto;
        }
        &:hover {
          svg {
            fill: rgba(0, 0, 0, 1);
            transition: 0.3s ease-in-out all;
          }
        }
      }
    }
    .hotel-card-right {
      padding: 0 0 0 16px;
      width: 100%;
      .hotel-discount {
        min-height: 22px;
        &-box {
          background-color: $bgGreen;
          color: $white;
          font-size: $fontsize-small;
          padding: 4px;
          border-radius: 2px;
        }
      }
      .hotel-beach {
        font-size: $fontsize-small;
        line-height: 18px;
        .icon-beach {
          svg {
            height: 16px;
          }
        }
      }
      .hotel-sustainability {
        font-size: $fontsize-small;
        line-height: 18px;
        gap: 5px;
        display: flex;
        padding: 3px 0;
        .sustainability-level {
          .leaf-level {
            svg {
              height: 16px;
            }
          }
        }
      }
      .hotel-info-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .hotel-info-top-left {
          display: flex;
          flex-direction: column;
          .top-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;
            align-items: center;
            .hotel-fav {
              svg {
                fill: $yellow;
              }
            }
            .hotel-zone,
            .hotel-map {
              font-size: $fontsize-small;
              color: $ctaBlue;
              text-decoration: underline;
              font-weight: 600;
              cursor: pointer;
              &:hover {
                text-decoration: none;
              }
            }
            .hotel-dinstance {
              font-size: $fontsize-small;
            }
            .hotel-name {
              color: $ctaBlue;
              font-size: 20px;
              font-weight: 700;
              cursor: pointer;
              &:hover {
                color: $darkText;
              }
            }
          }
        }
        .hotel-info-top-right {
          .top-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;
            align-items: center;

            .hotel-top-right-vote {
              display: flex;
              flex-direction: column;
              text-align: right;
              .small {
                font-size: 12px;
                color: $darkBlue;
              }
            }
            .hotel-top-right-badge {
              background-color: $blue;
              color: $white;
              height: 32px;
              width: 32px;
              align-items: center;
              display: flex;
              justify-content: center;
              border-radius: 6px 6px 6px 0;
            }
            .hotel-position {
              color: $ctaBlue;
              font-size: 14px;
              font-weight: 700;
              width: 100%;
              text-align: right;
              margin-top: 5px;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .hotel-info-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        .hotel-info-room {
          line-height: 18px;
          font-size: $fontsize-small;

          &-wrapper {
            border-left: 2px solid $borderAltGrey;
            padding-left: 10px;
          }
          &-title {
            font-weight: bold;
          }
          &-warning {
            color: $red;
          }
        }
        .hotel-info-price {
          text-align: right;
          line-height: 18px;
          &-night {
            font-size: $fontsize-small;
            color: $darkBlue;
          }
          &-btn {
            margin-top: 8px;
            .btn {
              padding: 4px 12px;
              min-height: 36px;
            }
          }
          &-amount {
            font-size: 20px;
          }
        }
      }
    }
  }
}
