$white: #fff;
$black: #000000;
$darkText: #262626;
$blue: #003580;
$yellow: #febb02;
$ctaBlue: #0071c2;
$ctaBlueHover: #00487a;
$borderAltGrey: #e7e7e7;
$borderGrey: #c6c6c6;
$darkBlue: #6b6b6b;
$lightBgGrey: #f5f5f5;

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "desktop": 1023px,
  "large": 1200px,
) !default;

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.container {
  padding: 24px 16px 16px;
  max-width: 100%;
  @include respond-to(desktop) {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
  }
}
