@import "assets/common/_icon.scss";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

input {
  &:focus {
    outline: 0;
  }
}

.btn {
  &-transparent {
    button {
      background-color: transparent !important;
      border: none;
    }
  }
}

button {
  border: 0;
  outline: 0;
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.black-tooltip.p-tooltip {
  .p-tooltip-text {
    background-color: black;
    &:after {
      content: "";
      position: absolute;
      bottom: calc(100% - 5px);
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
    }
  }
}

.search-calendar {
  .p-calendar {
    width: 100%;
    .p-inputtext {
      height: 44px;
      border: none;
      font-size: 14px;
    }
  }
}
